/* Colors */
:root {
  --color-primary-900: #111827;
  --color-primary-500: #6B7280;
  --aika-yellow: #FFD700;
  --aika-blue: #1C64F2;
  --aika-green: #10B981;
  --aika-pink: #f7adc8;
  --aika-purple: #8B5CF6;
  --aika-red: #EF4444;
  --aika-teal: #14B8A6;
}
/* Button Styles */
.btn {
  font-weight: 600;
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  outline: none;
}

.btn-primary {
  color: white;
  background-color: var(--color-primary-900);
}

.btn-primary:hover {
  background-color: var(--aika-blue);
}

.btn-secondary {
  color: var(--color-primary-900);
  background-color: white;
  border: 1px solid #e5e7eb;
}

.btn-secondary:hover {
  background-color: var(--aika-yellow);
}

/* Focus Styles */
.ring-focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: var(--aika-blue);
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  border-color: var(--aika-blue);
}

/* Link Styles */
.link {
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--aika-yellow);
}

.link-yellow:hover {
  color: var(--aika-yellow);
}

.link-green:hover {
  color: var(--aika-green);
}

.link-purple:hover {
  color: var(--aika-purple);
}

.link-red:hover {
  color: var(--aika-red);
}

.link-teal:hover {
  color: var(--aika-teal);
}

.link-pink:hover {
  color: var(--aika-pink);
}

/* Logo Hover Effect */
.logo-hover-effect:hover .logo-default {
  display: none;
}

.logo-hover-effect:hover .logo-colored {
  display: inline-block;
}